{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    What do you see?
{% endblock %}



{% block content %}

    <p>
        Please consider this image and give us your first impression.
    </p>
    <p>
    <img src="{{ static "can.png" }}" style="width: 20vw; height: auto;"/>
    </p>


    <p>
        {% formfields %}
        <br>
    </p>


    <p>
    <!-- .otree-btn-next is the CSS/jQuery selector for this button -->
    <button class="otree-btn-next btn btn-primary">Next</button>
    </p>

{% endblock %}

