{% extends "global/Base.html" %}
{% load otree static %}

{% block title %}
    Concluding survey — Follow-Up 3
{% endblock %}

{% block content %}
    <div style="font-size: 16px;">
        <strong>
        You indicated that you expect a parental inheritance, which does not affect your current {{ frame_word }}. Yet you indicate that you have thought about whether it should.
        </strong>
        <br>
         Why does the inheritance not affect your current {{ frame_word }}?
    </div>

    <div style="margin-top: 20px;">
        <textarea id="id_inh_followup_why" name="inh_followup_why"
                style="width: 100%; max-width: 560px; height: 120px;"
                class="form-control"></textarea>
        {% formfield_errors 'inh_followup_why' %}
    </div>

    <div style="margin-top: 30px;">
        {{ next_button }}
    </div>

{% if testing %}
    <button id="skipBtn" class="btn btn-secondary px-3" onclick="skipPage()">
        Skip for testing
    </button>
{% endif %}
{{ endblock }}

{% block scripts %}
<script>
    function skipPage() {
        document.getElementById('id_inh_followup_why').value = 'Testing mode auto-filled response.';
        document.querySelector('form').submit();
    }
</script>
{% endblock %}