{{ block title }}
    Reactions to the Scenario - Change in Total Spending: Follow-Up 
{{ endblock }}

{% block styles %}
<style>
    .custom-border {
        border-color: #d6d8db;
    }
</style>
{% endblock %}


{{ block content }}
<div style="font-size:18px"><br>Reminder about the scenario:<br></div>
<br>
<div class="container bg-light border custom-border" style="padding-left:30px; padding-right:30px; padding-top:1rem; padding-bottom:1rem">
    <strong>The Scenario</strong><br><br>

    {% if group == 'FU_LAR_C' %}
        {% if variation == 1 %}
            Suppose that today you learn that your mother has been diagnosed with a terminal disease.
            You inherit <span style="white-space: nowrap;">{{ C.DEFAULT_CURRENCY_SYMBOL }}50 000</span> after taxes from your mother in 2 years.
            This is a one-time payment you had not expected until today.
        {% endif %}
        {% if variation == 2 %}
            Suppose that today you learn that your father has been diagnosed with a terminal disease.
            You inherit <span style="white-space: nowrap;">{{ C.DEFAULT_CURRENCY_SYMBOL }}50 000</span> after taxes from your father in 2 years.
            This is a one-time payment you had not expected until today.
        {% endif %}
        <br><br>Assume there is no uncertainty in the timing or amount of the payment.
    {% endif %}

    {% if group == 'FU_LAR_U' %}
        {% if variation == 1 %}
            Suppose that today you learn that your mother has been diagnosed with a terminal disease.
            You inherit <span style="white-space: nowrap;">{{ C.DEFAULT_CURRENCY_SYMBOL }}50 000</span> after taxes from your mother in 2 years.
            This is a one-time payment you had not expected until today.
        {% endif %}
        {% if variation == 2 %}
            Suppose that today you learn that your father has been diagnosed with a terminal disease.
            You inherit <span style="white-space: nowrap;">{{ C.DEFAULT_CURRENCY_SYMBOL }}50 000</span> after taxes from your father in 2 years.
            This is a one-time payment you had not expected until today.
        {% endif %}
        <br><br>Assume that, while there is always some uncertainty in the exact timing and amount of such payments, there is very little uncertainty in this scenario.
    {% endif %}

    {% if group == 'FU_NO_C' %}
        Suppose that today you learn that the government has discovered an error in your taxes that concerns multiple years.
        You receive a <span style="white-space: nowrap;">{{ C.DEFAULT_CURRENCY_SYMBOL }}50 000</span> refund in 2 years.
        This is a one-time payment you had not expected until today.
        <br><br>Assume there is no uncertainty in the timing or amount of the payment.
    {% endif %}

    {% if group == 'FU_NO_U' %}
        Suppose that today you learn that the government has discovered an error in your taxes that concerns multiple years.
        You receive a <span style="white-space: nowrap;">{{ C.DEFAULT_CURRENCY_SYMBOL }}50 000</span> refund in 2 years.
        This is a one-time payment you had not expected until today.
        <br><br>Assume that, while there is always some uncertainty in the exact timing and amount of such payments, there is very little uncertainty in this scenario.
    {% endif %}

    {% if group == 'FU_LAR_C_I' %}
        {% if variation == 1 %}
            Suppose that today you learn that your mother has been diagnosed with a terminal disease.
            You inherit <span style="white-space: nowrap;">{{ C.DEFAULT_CURRENCY_SYMBOL }}50 000</span> after taxes from your mother in 2 years.
            This is a one-time payment you had not expected until today.
        {% endif %}
        {% if variation == 2 %}
            Suppose that today you learn that your father has been diagnosed with a terminal disease.
            You inherit <span style="white-space: nowrap;">{{ C.DEFAULT_CURRENCY_SYMBOL }}50 000</span> after taxes from your father in 2 years.
            This is a one-time payment you had not expected until today.
        {% endif %}
        <br><br>Assume there is no uncertainty in the timing or amount of the payment.
    {% endif %}

    {% if group == 'FU_LAR_U_I' %}
        {% if variation == 1 %}
            Suppose that today you learn that your mother has been diagnosed with a terminal disease.
            You inherit <span style="white-space: nowrap;">{{ C.DEFAULT_CURRENCY_SYMBOL }}50 000</span> after taxes from your mother in 2 years.
            This is a one-time payment you had not expected until today.
        {% endif %}
        {% if variation == 2 %}
            Suppose that today you learn that your father has been diagnosed with a terminal disease.
            You inherit <span style="white-space: nowrap;">{{ C.DEFAULT_CURRENCY_SYMBOL }}50 000</span> after taxes from your father in 2 years.
            This is a one-time payment you had not expected until today.
        {% endif %}
        <br><br>Assume that, while there is always some uncertainty in the exact timing and amount of such payments, there is very little uncertainty in this scenario.
    {% endif %}

    {% if group == 'FU_NO_C_I' %}
        Suppose that today you learn that the government has discovered an error in your taxes that concerns multiple years.
        You receive a <span style="white-space: nowrap;">{{ C.DEFAULT_CURRENCY_SYMBOL }}50 000</span> refund in 2 years.
        This is a one-time payment you had not expected until today.
        <br><br>Assume there is no uncertainty in the timing or amount of the payment.
    {% endif %}

    {% if group == 'FU_NO_U_I' %}
        Suppose that today you learn that the government has discovered an error in your taxes that concerns multiple years.
        You receive a <span style="white-space: nowrap;">{{ C.DEFAULT_CURRENCY_SYMBOL }}50 000</span> refund in 2 years.
        This is a one-time payment you had not expected until today.
        <br><br>Assume that, while there is always some uncertainty in the exact timing and amount of such payments, there is very little uncertainty in this scenario.
    {% endif %}

    {% if group == 'PR_LAR_C' %}
        {% if variation == 1 %}
            Suppose that today you learn that your mother passed away last night. You inherit <span style="white-space: nowrap;">{{ C.DEFAULT_CURRENCY_SYMBOL }}50 000</span>
            after taxes from your mother today. This is a one-time payment you had not expected until today.
        {% endif %}
        {% if variation == 2 %}
            Suppose that today you learn that your father passed away last night. You inherit <span style="white-space: nowrap;">{{ C.DEFAULT_CURRENCY_SYMBOL }}50 000</span>
            after taxes from your father today. This is a one-time payment you had not expected until today.
        {% endif %}
        <br><br>Assume there is no uncertainty in the timing or amount of the payment.
    {% endif %}

    {% if group == 'PR_LAR_U' %}
        {% if variation == 1 %}
            Suppose that today you learn that your mother passed away last night. You inherit <span style="white-space: nowrap;">{{ C.DEFAULT_CURRENCY_SYMBOL }}50 000</span>
            after taxes from your mother today. This is a one-time payment you had not expected until today.
        {% endif %}
        {% if variation == 2 %}
            Suppose that today you learn that your father passed away last night. You inherit <span style="white-space: nowrap;">{{ C.DEFAULT_CURRENCY_SYMBOL }}50 000</span>
            after taxes from your father today. This is a one-time payment you had not expected until today.
        {% endif %}
        <br><br>Assume that, while there is always some uncertainty in the exact timing and amount of such payments, there is very little uncertainty in this scenario.
    {% endif %}

    {% if group == 'PR_NO_C' %}
        Suppose that today you learn that the government has discovered an error in your taxes that concerns multiple years.
        You receive a <span style="white-space: nowrap;">{{ C.DEFAULT_CURRENCY_SYMBOL }}50 000</span> refund today. This is a one-time payment you had not expected until today.
        <br><br>Assume there is no uncertainty in the timing or amount of the payment.
    {% endif %}

    {% if group == 'PR_NO_U' %}
        Suppose that today you learn that the government has discovered an error in your taxes that concerns multiple years.
        You receive a <span style="white-space: nowrap;">{{ C.DEFAULT_CURRENCY_SYMBOL }}50 000</span> refund today. This is a one-time payment you had not expected until today.
        <br><br>Assume that, while there is always some uncertainty in the exact timing and amount of such payments, there is very little uncertainty in this scenario.
    {% endif %}

    {% if group == 'PR_LAR_C_I' %}
        {% if variation == 1 %}
            Suppose that today you learn that your mother passed away last night. You inherit <span style="white-space: nowrap;">{{ C.DEFAULT_CURRENCY_SYMBOL }}50 000</span>
            after taxes from your mother today. This is a one-time payment you had not expected until today.
        {% endif %}
        {% if variation == 2 %}
            Suppose that today you learn that your father passed away last night. You inherit <span style="white-space: nowrap;">{{ C.DEFAULT_CURRENCY_SYMBOL }}50 000</span>
            after taxes from your father today. This is a one-time payment you had not expected until today.
        {% endif %}
        <br><br>Assume there is no uncertainty in the timing or amount of the payment.
    {% endif %}

    {% if group == 'PR_LAR_U_I' %}
        {% if variation == 1 %}
            Suppose that today you learn that your mother passed away last night. You inherit <span style="white-space: nowrap;">{{ C.DEFAULT_CURRENCY_SYMBOL }}50 000</span>
            after taxes from your mother today. This is a one-time payment you had not expected until today.
        {% endif %}
        {% if variation == 2 %}
            Suppose that today you learn that your father passed away last night. You inherit <span style="white-space: nowrap;">{{ C.DEFAULT_CURRENCY_SYMBOL }}50 000</span>
            after taxes from your father today. This is a one-time payment you had not expected until today.
        {% endif %}
        <br><br>Assume that, while there is always some uncertainty in the exact timing and amount of such payments, there is very little uncertainty in this scenario.
    {% endif %}

    {% if group == 'PR_NO_C_I' %}
        Suppose that today you learn that the government has discovered an error in your taxes that concerns multiple years.
        You receive a <span style="white-space: nowrap;">{{ C.DEFAULT_CURRENCY_SYMBOL }}50 000</span> refund today. This is a one-time payment you had not expected until today.
        <br><br>Assume there is no uncertainty in the timing or amount of the payment.
    {% endif %}

    {% if group == 'PR_NO_U_I' %}
        Suppose that today you learn that the government has discovered an error in your taxes that concerns multiple years.
        You receive a <span style="white-space: nowrap;">{{ C.DEFAULT_CURRENCY_SYMBOL }}50 000</span> refund today. This is a one-time payment you had not expected until today.
        <br><br>Assume that, while there is always some uncertainty in the exact timing and amount of such payments, there is very little uncertainty in this scenario.
    {% endif %}

    <br>
    {% include "CS1/partials/timeline.html" %}

    {% if '_I' in group %}
        Many people don't think about future income or cash they'll receive later when deciding how much to spend now.
        This applies both to irregular future income (like the above) and regular future income (like salaries).
        However, your ability to spend today depends not just on your current income, wealth, and debt, but also on the money you expect to receive in the future.
        If you anticipate future income, you can choose to spend some of it now by dipping into your savings, saving less than usual, or borrowing (for example, using a credit card or a line of credit).
        {% if '5' in info_subtype and '6' in info_subtype and '7' in info_subtype %}
            <br><br>You stated that you would be able to spend more today by using your disposable income, your net wealth (e.g., savings invested in bank accounts or stocks) and borrowing money (e.g., using consumer credit). That means you can increase today's spending in anticipation of future income if you like.
        {% elif '5' in info_subtype and '6' in info_subtype %}
            <br><br>You stated that you would be able to spend more today by using your disposable income and your net wealth (e.g., savings invested in bank accounts or stocks). That means you can increase today's spending in anticipation of future income if you like.
        {% elif '5' in info_subtype and '7' in info_subtype %}
            <br><br>You stated that you would be able to spend more today by using your disposable income and borrowing money (e.g., using consumer credit). That means you can increase today's spending in anticipation of future income if you like.
        {% elif '6' in info_subtype and '7' in info_subtype %}
            <br><br>You stated that you would be able to spend more today by using your net wealth (e.g., savings invested in bank accounts or stocks) and borrowing money (e.g., using consumer credit). That means you can increase today's spending in anticipation of future income if you like.
        {% elif '5' in info_subtype %}
            <br><br>You stated that you would be able to spend more today by using your disposable income. That means you can increase today's spending in anticipation of future income if you like.
        {% elif '6' in info_subtype %}
            <br><br>You stated that you would be able to spend more today by using your net wealth (e.g., savings invested in bank accounts or stocks). That means you can increase today's spending in anticipation of future income if you like.
        {% elif '7' in info_subtype %}
            <br><br>You stated that you would be able to spend more today by borrowing money (e.g., using consumer credit). That means you can increase today's spending in anticipation of future income if you like.
        {% endif %}
    {% endif %}

</div>

<br>


<div style="margin-top: 15px;">
    <strong>Your spending reactions from the previous screen:</strong>
    <ul>
        <li>Year 1 from now: {{ C.DEFAULT_CURRENCY_SYMBOL }}{{ react_yr1 }}</li>
        <li>Year 2 from now: {{ C.DEFAULT_CURRENCY_SYMBOL }}{{ react_yr2 }}</li>
        <li>Year 3 from now: {{ C.DEFAULT_CURRENCY_SYMBOL }}{{ react_yr3 }}</li>
        <li>Year 4 from now: {{ C.DEFAULT_CURRENCY_SYMBOL }}{{ react_yr4 }}</li>
        <li>Rest of your life (total): {{ C.DEFAULT_CURRENCY_SYMBOL }}{{ react_yr5 }}</li>
    </ul>
</div>

<div style="margin-top: 15px;">
    {{ formfield 'react9' }}
</div>

<div style="margin-top: 30px;">
    {{ next_button }}
</div>

{% if testing %}
    <button id="skipBtn" class="btn btn-secondary px-3" onclick="skipPage()">
        Skip for testing
    </button>
{% endif %}
{{ endblock }}

{% block scripts %}
<script>
    function skipPage() {
        document.getElementById('id_react9').value = 'Testing mode auto-filled response.';
    }
</script>
{% endblock %}